@model IEnumerable<WebThoiTrang.Models.ShoppingCartItem>
@{
    ViewBag.Title = "Trang chu gio hang";
}

<div class="container">
    <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
        <a href="/home/index" class="stext-109 cl8 hov-cl1 trans-04">
            Home
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>
        <span class="stext-109 cl4">
            Shopping Cart
        </span>
    </div>
</div>
<!-- Shoping Cart -->
<div id="load_data">
    @Html.Action("Partial_Item_Cart", "ShoppingCart")
</div>



