
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@*<style>
    .body{
        background-image:src('../../../../Content/assets/images/about-01.jpg')
    }
</style>*@
<h2>Chào</h2>

